<h3>Your name is needed to create account</h3>

<%= form_with(model: @user, local: true) do |f| %>
<%= render 'shared/errors' %>
<p>
  <%= f.label :name %><br><br>
  <%= f.text_field :name, placeholder: "Your name here" %><br><br>
  <%= f.submit "New Account" %>
</p>
<% end %>