<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', events_path %> |
    <%= link_to 'Login', login_path %> |
    
    <% if logged_in? %>
      <%= link_to 'Create an Events', new_event_path %>  |
      <%= link_to 'Logout', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Create an Acccount', new_user_path %> 
    <% end %>
    <hr>

    <% flash.each do | type, message | %>
      <%= message %>
    <% end %><br><br>
    <%= yield %>
    
  </body>
</html>
