<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', events_path %><br><br>
    <% flash.each do | type, message | %>
      <%= message %>
    <% end %>
    <%= yield %>
    <% if logged_in? %>
      <h6><%= link_to 'Logout', logout_path, method: :delete %></h6>
    <% end %>
  </body>
</html>
